* {
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-items: center;
}


.container-1 {
    max-width: 1140px;
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

/* ===================================================================== */

.flex-grow {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    display: flex;
}

.bg-img {
    background-image: url(/assets/image/Rectangle\ 2.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

.main-heading {
    font-family: var(--secondary);
    font-size: 52px;
    font-weight: 400;
    line-height: 71.8px;
    text-align: left;
    color: var(--fc-white);
    margin-top: 12px;
}

.font-color-change {
    color: #1BABFE;
}

.token-counting {
    font-family: var(--primary);
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    color: var(--fc-white);
}

.token-sold {
    font-family: var(--primary);
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: var(--fc-white);
}

.date-time {
    font-family: var(--primary);
    font-size: 26px;
    font-weight: 600;
    line-height: 26px;
    text-align: left;
    color: var(--fc-white);
}

.pre-sale {
    font-family: var(--primary);
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    color: var(--fc-white);
}

.line:after {
    position: absolute;
    content: "";
    max-width: 239px;
    width: 100%;
    height: 2px;
    background: linear-gradient(180deg, #815CC8 0%, #1BABFE 100%);
    bottom: 0;
    left: 0;
}

.line:before {
    position: absolute;
    content: "";
    max-width: 158px;
    width: 100%;
    height: 2px;
    background: #C4C4C4;
    bottom: 0;
    right: 0;
}

.about {
    font-family: var(--primary);
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: var(--fc-white);

}

.mt {
    margin-top: 40px;
}

.cap {
    font-family: var(--primary);
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #C3C6C8;
    margin-bottom: 6px;
    margin-top: 10px;

}

.cap-number {
    font-family: var(--primary);
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: var(--fc-white);
}

.buy-btn {
    max-width: 170px;
    width: 100%;
    height: 49px;
    padding-left: 10px;
    padding-top: 12px;
    border-radius: 79px;
    font-family: var(--primary);
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    color: var(--fc-white);
    border: none;
    gap: 10px;
    background: linear-gradient(90deg, #815CC8 0%, #1BABFE 100%);
}

.buy-btn:hover {
    box-shadow: 0px 8px 30px 0px #1BABFE80;
}

.buy {
    font-family: var(--primary);
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.blur-box {
    max-width: 397px;
    height: 67px;
    display: flex;
    align-items: center;
    padding-left: 18px;
}

.vertical-line:after {
    position: absolute;
    content: "";
    width: 1px;
    height: 67px;
    right: 50%;
    bottom: 0;
    background: #8C8C8C;
}

.border-bottom {
    border-bottom: 1px solid lightgray;
}

.border-right {
    width: 66px;
    height: 30px;
    border-right: 1px solid #8C8C8C;
}

.border-2 {
    gap: 6px;
    max-width: 397px;
    width: 100%;
    height: 67px;
    align-items: center;
    padding-left: 18px;
    padding-right: 18px;
}

.border:hover {
    transform: scale(1.07);
    transition: all 200ms linear;
}

.horizontal-line:before {
    position: absolute;
    content: "";
    max-width: 395px;
    width: 100%;
    height: 0px;
    border: 0.4px solid #8C8C8C;
    top: 0;
    left: 0;
}


.box {
    display: flex;
    max-width: 397px;
    width: 100%;
    height: 67px;
    align-items: center;
    justify-content: center;
    padding-left: 18px;
    padding-right: 18px;
}

.border:hover {
    border: 1px solid;
    border-image-source: linear-gradient(139.17deg, rgba(255, 255, 255, 0.14) 0%, rgba(255, 255, 255, 0.06) 100%);
}


/* ==============================buttons=================================== */
.discord-btn {
    width: 170px;
    height: 50px;
    padding: 20px 34px 14px 34px;
    border-radius: 79px;
    background: linear-gradient(149.67deg, #815CC8 29.44%, #1BABFE 81.54%);
    border: none;
    align-items: center;
    justify-content: center;
    font-family: var(--primary);
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: white;
    display: flex;
    gap: 10px;
}

.discord-btn:hover {
    box-shadow: 0px 8px 30px 0px #1BABFE80;
}

.Discord {
    margin-left: 5px;
}


/* ======================================card-propertty======================================== */
.card {
    max-width: 397px;
    width: 100%;
    height: 509px;
    border-radius: 8px;
    background: linear-gradient(139.51deg, rgba(255, 255, 255, 0.1) -0.66%, rgba(255, 255, 255, 0.03) 100%);
    border: 0.4px solid #aebbc1;

    overflow: hidden;
}

.bg-blur-img {
    background-image: url(/assets/image/Rectangle\ 21.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;

}

/* ===================================================================================== */

ul li a {
    font-family: var(--primary);
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: var(--fc-white);
}

.about-link {
    font-family: var(--primary);
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
}

.gap {
    gap: 30px;
}

.hero-img {
    max-width: 216px;
    height: 47.58px;
}

/* ====================================col property=========================================== */



/* =================================utility class===================================== */
.align-item-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.d-flex {
    display: flex;
}

.text-align-left {
    text-align: left;
}

.gap-10 {
    gap: 10px;
}

.justify-content-between {
    justify-content: space-between;
}

.mt-42 {
    margin-top: 42px;
}

.w-100 {
    width: 100%;

}

.pr-50 {
    padding-right: 50px;
}

.position-relative {
    position: relative;
}

.mt-143 {
    margin-top: 143px;
}

.pt-20 {
    padding-top: 20px;
}

.gap-48 {
    gap: 48px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-56 {
    margin-top: 56px;
}

.ml-12 {
    margin-left: 12px;
}

.gap-2 {
    gap: 2px;
}

.mt-24 {
    margin-top: 24px;
}

.flex-col {
    flex-direction: column;
}

.col-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}


@media (max-width:992px) {
    ul {
        right: -100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        position: fixed;
        margin-top: 57px;
        width: 100%;
        height: 100%;
        text-align: left;
        gap: 0;
        color: black;
        justify-content: center;
        align-items: center;
        z-index: 4;
    }

    .span {
        width: 35px;
        height: 3px;
        background-color: white;
        display: flex;
        margin-bottom: 5px;

    }

    .justify-center-992 {
        justify-content: center;
    }

    label {
        float: right;
        color: white;
        z-index: 5;
        padding-top: 15px;
        align-items: center;
        display: flex;
        flex-direction: column;

    }

    .check:checked~ul {
        right: 0%;
        transition: all 300ms linear;
        justify-content: center;
        align-items: center;
        display: flex;

    }

    input[type="checkbox"]:checked~label[for="menubar"] .span:first-child {
        transform: rotate(45deg);
        transform-origin: left;
        transition: all 200ms linear;
        width: 23px;
        background-color: red;
        box-shadow: 0px 0px 7px 0px black;
    }

    input[type="checkbox"]:checked~label[for="menubar"] .span:nth-child(2) {
        opacity: 0;
    }

    input[type="checkbox"]:checked~label[for="menubar"] .span:last-child {
        transform: rotate(-45deg);
        transform-origin: left;
        transition: all 200ms linear;
        width: 23px;
        background-color: red;
        box-shadow: 0px 0px 7px 0px black;
    }

    ul li a {
        color: black;
    }

    .sm-align-item-center {
        justify-content: center;
    }
}

@media (min-width:992px) {
    .col-lg-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .main-heading {
        font-family: var(--secondary);
        font-size: 72px;
        font-weight: 400;
        line-height: 91.8px;
        text-align: left;
        color: var(--fc-white);

    }
}

@media (min-width:320px) {

    .mt-sm-20 {
        margin-top: 20px;
    }
}